<a href="{% url 'gradebook:groups' %}">Back to group</a>
<br />

<h1>Add grades in group</h1>
{% if group.students.all %}
<p>Students:</p>
    <form action="{% url 'gradebook:addGradesInGroup' %}" method="post">
    {% csrf_token %}
        <ul>
        {% for student in group.students.all %}
            <li>
                {{ student.firstName }} {{ student.lastName }}
                <input type="number" name="grade{{ student.id }}" placeholder="Grade" />
            </li>
        {% endfor %}
        </ul>
        <input type="hidden" name="group" value="{{ group.id }}" />
        <input type="submit" value="Add" />
    </form>
{% else %}
    <p>This group is empty.</p>
{% endif %}
