<h1>Dashboard</h1>
<a href="{% url 'gradebook:groups' %}">Show a list of all groups</a>
<br />
<h2>Add student</h2>
<form action="{% url 'gradebook:addStudent' %}" method="post">
    {% csrf_token %}
    <input type="text" name="firstName" placeholder="First name" />
    <input type="text" name="lastName" placeholder="Last name" />
    <input type="submit" value="Add" />
</form>

<h2>Add group</h2>
<form action="{% url 'gradebook:addGroup' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" />
    <input type="submit" value="Add" />
</form>

{% if groups and students %}
<h2>Add student to group</h2>
<form action="{% url 'gradebook:addStudentToGroup' %}" method="post">
    {% csrf_token %}
    <select name="group">
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>
    <select name="student">
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add" />
</form>
{% endif %}
