<a href="{% url 'gradebook:groups' %}">Back to groups list</a>
<br />

<h1>{{ group.name }}</h1>
{% if group.students.all %}
    <p>Students:</p>
    <ul>
    {% for student in group.students.all %}
        <li><a href="{% url 'gradebook:student' student.id %}">{{ student.firstName }} {{ student.lastName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>This group is empty.</p>
{% endif %}
