<a href="{% url 'gradebook:dashboard' %}">Back to dashboard</a>
<br />

<h1>Groups list</h1>
{% if groups %}
    <ul>
    {% for group in groups %}
        <li><a href="{% url 'gradebook:group' group.id %}">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
    <h2>Add many grades</h2>
    <form action="{% url 'gradebook:addGradesForm' %}" method="post">
            {% csrf_token %}
            <label>Choose group:</label>
            <select name="group">
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add" />
        </form>
{% else %}
    <p>No groups are available.</p>
{% endif %}
