<a href="{% url 'gradebook:group' group %}">Back to group</a>
<br />

<h1>{{ student.firstName }} {{ student.lastName }}</h1>

<h2>Grades</h2>
{% if student.grades.all %}
    <ul>
    {% for grade in student.grades.all %}
        <li>{{ grade.value }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>This student has no grades.</p>
{% endif %}

<h2>Add grade</h2>
<form action="{% url 'gradebook:addGrade' %}" method="post">
    {% csrf_token %}
    <input type="text" name="grade" placeholder="Grade" />
    <input type="hidden" name="student" value="{{ student.id }}" />
    <input type="submit" value="Add" />
</form>

{% if student.grades.all %}
<h2>Change grade</h2>
<form action="{% url 'gradebook:changeGrade' %}" method="post">
    {% csrf_token %}
    <select name="grade">
        {% for grade in student.grades.all %}
        <option value="{{ grade.id }}">{{ grade.value }}</option>
        {% endfor %}
    </select>
    <input type="text" name="newGrade" placeholder="New grade" />
    <input type="hidden" name="student" value="{{ student.id }}" />
    <input type="submit" value="Change" />
</form>
{% endif %}
